<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意此处为路径加类名 -->
<mapper namespace="com.lemon.dao.StudentMapper">

    <resultMap id="BaseResultMap" type="com.lemon.entity.CSBean">
        <result column="s_name" property="sName"/>
        <result column="c_name" property="cName"/>
        <result column="s_grade" property="cGrade"/>
    </resultMap>

    <!-- 注意此处为 resultMap 不是 resultType(吐血) -->
    <!-- java.lang.String 必须是这样的? 设置了 typeAliases 不管用-->
    <select id="getCourseAndGrade" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT ts.s_name,tc.c_name,tsc.s_grade FROM t_student ts
        LEFT JOIN  t_s_c tsc ON ts.s_no = tsc.s_no
        LEFT JOIN  t_course tc ON tsc.c_no = tc.c_no
        WHERE ts.s_name = #{name}
    </select>
</mapper>